<%= form_for(@yahoolist) do |f| %>
  <% if @yahoolist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yahoolist.errors.count, "error") %> prohibited this yahoolist from being saved:</h2>

      <ul>
      <% @yahoolist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
