<h1>Hello, Rails for Stock Watch</h1>
<%= link_to "Loaded Stock info", stocklists_path %>
<br><br>
<%= link_to "Search Stock Symbol", :stocksearch_path %>
<br><br>
<%= link_to "Yahoo Stock Quotes", yahoolists_path %>