// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.scroll {
  background-color:#00FFFF;
  width:1000px;
  height:600px;
  overflow:scroll;
}