/* tables */
table.stocktable {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	/*width: 100%; */
	text-align: left;
}
table.stocktable thead tr th, table.stocktable tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.stocktable thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.stocktable tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.stocktable tbody tr.odd td {
	background-color:#F0F0F6;
}
table.stocktable thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.stocktable thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.stocktable thead tr .headerSortDown, table.stocktable thead tr .headerSortUp {
	background-color: #8dbdd8;
}

/* border */
table {
    border-top: double;
    border-bottom: double;
    border-right: double;
    border-left: double;
}
thead, tbody, tfoot {
    border-top: solid;
    border-bottom: solid
}
tr {
	border-bottom: thin dotted;
}
colgroup {
    border-bottom: solid
}

/* highlight */
.rowhighlight {
    background-color: #EEEEED !important;
}

.level1 {background-color: #FFFFEB !important;}
.level2 {background-color: #FFFF99 !important;}
.level4 {background-color: #CCFFCC !important;}
.level8 {background-color: #99FF99 !important;}

.level16 {background-color: #D1E0FF !important;}
.level32 {background-color: #6699FF !important;}
.level64 {background-color: #FFD1D1 !important;}
.level128 {background-color: #FF6666 !important;}

.level258 {background-color: #F5CCF5 !important;}
.level512 {background-color: #CC00CC !important;}

