<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    //Table sorter
    $(document).ready(function() 
    { 
        $('table').tablesorter( {sortList: [[0,0],[1,0]]}); 
    }); 
    
 	//Table row highlight
 	$(document).ready(function(){
		$('tbody tr').hover(function(){
			$(this).children().addClass('rowhighlight');
		},function(){
			$(this).children().removeClass('rowhighlight');
		});
     });
     
    //Table scroll
    /*
    $(document).ready(function() 
    {       	
        $("table.scroll").createScrollableTable({
	            width: '800x',
	            height: '400px'
	    });
	    
	    var tbl = $("#sctable");
    	newtablesorter(tbl);
    }); 
    */
 
  </script>
</head>
<body>
	
<%= yield %>

</body>
</html>
