<!DOCTYPE html>
<html>
<head>
  <title>Stock Monitor</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    //Table sorter
    $(document).ready(function() 
    { 
        $('table').tablesorter( {sortList: [[0,0],[1,0]]}); 
    }); 
    
 	//Table row highlight
 	$(document).ready(function(){
		$('tbody tr').hover(function(){
			$(this).children().addClass('rowhighlight');
		},function(){
			$(this).children().removeClass('rowhighlight');
		});
     });
     
    //Table scroll
	//jQuery(document).ready(function($)
	//{
	//	$('#sctable').tableScroll({height:800});
	//});
	
	//$(window).resize(function() {
	//	var h = $(window).height() - 200;
	//	$(".tablescroll_wrapper").height(h);
	//});
  </script>
</head>
<body>
	
<%= yield %>

</body>
</html>
